body {
  background-color: rgb(233, 233, 233);
}

body p, h2  {
  font-family: 'Roboto', sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: white;
  margin: auto;
}

.header__nav {
  display: flex;
}

.header__container-1 {
  display: flex;
}

.header__container-2 {
  display: flex;
}

.nav__logo {
  margin: 15px 30px;
}

.nav__logo img {
  width: 50%;
}

.nav__button {
  margin: 10px 30px;
}
.nav__button button {
  width: 100%;
  padding: 5px 25px;
  color: black;
  background-color: white;
  border-radius: 5px;
  border: rgb(54, 138, 167) solid 1px;
  outline: none;
}
.nav__text {
  margin: 15px 30px;
}

/* main content */

.main {
  display: flex;
  margin-top: 20px;
  flex: 2 400px;
}

.article__section {
  background-color: white;
  width: 91.8%;
  margin: auto;
}

.section1__container {
  display: flex;
  padding: 50px 20px;
}

.section1__box-1 {
  margin-right: 50px;
  margin-left: 30px;
}

.section1__picture img {
  width: 150px;
  border-radius: 100%;
}

.section1__logos img {
  width: 20px;
  padding: 0 1.5px;
}

.section1__logos-inner {
  width: 70%;
  margin: 0 auto;
  padding: 20px;
}

.section1__button-inner {
  width: 80%;
  margin: 0 auto;
}

.section1__button-inner button {
  width: 100%;
  padding: 8px 15px;
  color: black;
  background-color: white;
  border-radius: 5px;
  border: rgb(54, 138, 167) solid 1px;
  outline: none;
}

/* gallery */

.article__section-gallery {
  margin-top: 20px;
}

.article__section-gallery img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.section__gallery-container {
  background-color: white;
  display: grid;
  width: 90%;
  margin: auto;
  padding: 20px 10px;
  grid-gap: 5px;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(200px, auto);
  grid-template-areas:
    "section__gallery-1 section__gallery-2 section__gallery-3 section__gallery-4 section__gallery-5"
    "section__gallery-6 section__gallery-7 section__gallery-8 . .";
}

.section__gallery-1 {
  grid-area: section__gallery-1;
}
.section__gallery-2 {
  grid-area: section__gallery-2;
}

.section__gallery-3 {
  grid-area: section__gallery-3;
}

.section__gallery-4 {
  grid-area: section__gallery-4;
}

.section__gallery-5 {
  grid-area: section__gallery-5;
}

.section__gallery-6 {
  grid-area: section__gallery-6;
}

.section__gallery-7 {
  grid-area: section__gallery-7;
}

.section__gallery-8 {
  grid-area: section__gallery-8;
}

img {
  height: 100%;
  width: 100%;
}

/* reviews */

.article__section-reviews {
  background-color: white;
  display: flex;
  justify-content: center;
  width: 91.8%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.section__reviews-container {
  margin: 50px 0px;
  display: flex;
  flex-direction: column;
}

.section__reviews-container-1 {
  display: flex;
  padding: 0 50px;
}

.section__reviews-container-1--second {
  display: flex;
  padding: 0 50px;
  margin-top: 50px;
}

.section__reviews-picture-1 {
  width: 225px;
}

.section__reviews-picture-1 img {
  width: 40%;
  border-radius: 100%;
}

.section__reviews-container-2 {
  display: flex;
}

.section__reviews-picture-2 img {
  width: 40%;
  border-radius: 100%;
}

.section__reviews-rating {
  display: flex;
}

.section__reviews-rating img {
  width: 15%;
}

.section__reviews-container-inner-1 {
  display: flex;
  justify-content: space-between;
}

.section__review-pages {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.section__review-pages div {
  margin: 5px 5px;
}

.section__review-pages button {
  background: none;
  border: none;
  outline: none;
}

.section__review-message {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
}

.section__review-textarea {
  display: flex;
  justify-content: center;
  padding: 0 50px;
}

textarea {
  resize: none;
  outline: none;
  margin-top: 10px;
  height: 150px;
  border: thistle, 1px, solid;
  border-right: 1px solid;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  border-radius: 10px;
}

.section__reviews-button {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
  padding-right: 50px;
}

.section__reviews-button button {
  padding: 10px 50px;
  opacity: 70%;
}

/* aside */

.main__aside {
  display: flex;
  flex-direction: column;
  flex: 1 400px;
  background-color: white;
  height: 50%;
  padding: 2vh 2%;
  margin-right: 50px;
}

.aside__container {
  width: 200px;
}

.aside__header-container {
  display: flex;
}

.aside__logo-1 img {
  width: 70px;
  padding-right: 20px;
}

.aside__box-container {
  border: turquoise solid 2px;
  border-radius: 5px;
  display: flex;
  margin: 2vh auto;
  padding: 1vh 1%;
  text-align: center;
  padding-right: 20px;
}

.aside__header-main h2 {
  font-weight: 700;
}

.aside__box-inner-wrapper img {
  width: 100%;
}

.aside__box-inner-wrapper-1 {
  max-width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 5px 30px;
}

.aside__box-inner-wrapper-2 {
  max-width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.aside__logo-2-header {
  margin-bottom: 10px;
}

.aside__button button {
  margin-top: 20px;
  width: 100%;
  padding: 5px 0;
  background-color: rgb(120, 173, 218);
  color: floralwhite;
  border-radius: 5px;
  border: none;
  outline: none;
}

@media (max-width: 377px) {
  .main {
    margin-top: 2px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(200px, auto);
    grid-template-areas:
      "article"
      "main__aside";
  }
  .article {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(200px, auto);
    grid-template-areas:
      "article__section"
      "article__section-gallery"
      "article__section-reviews";
  }

  .article {
    grid-area: article;
  }

  .main__aside {
    grid-area: main__aside;
  }

  .article__section {
    grid-area: article__section;
  }

  .article__section-gallery {
    grid-area: article__section-gallery;
    margin-top: 2px;
  }

  .article__section-reviews {
    grid-area: article__section-reviews;
    width: 100%;
    margin-top: 2px;
  }

  .main__aside {
    /* height: 100%; */
    margin-right: 0px;
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 15px;
  }

  .aside__container {
    padding-left: 200px;
  }

  .article__section-gallery img {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }

  .section__gallery-container {
    background-color: white;
    display: grid;
    width: 90%;
    margin: auto;
    padding: 0px;
    grid-gap: 5px;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(200px, auto);
    grid-template-areas:
      "section__gallery-1 section__gallery-1 section__gallery-2 section__gallery-2"
      "section__gallery-3 section__gallery-3 section__gallery-4 section__gallery-4"
      "section__gallery-5 section__gallery-5 section__gallery-6 section__gallery-6"
      "section__gallery-7 section__gallery-7 section__gallery-8 section__gallery-8";
  }

  .section__gallery-1 {
    grid-area: section__gallery-1;
  }
  .section__gallery-2 {
    grid-area: section__gallery-2;
  }

  .section__gallery-3 {
    grid-area: section__gallery-3;
  }

  .section__gallery-4 {
    grid-area: section__gallery-4;
  }

  .section__gallery-5 {
    grid-area: section__gallery-5;
  }
  
  .section__gallery-6 {
    grid-area: section__gallery-6;
  }

  .section__gallery-7 {
    grid-area: section__gallery-7;
  }

  .section__gallery-8 {
    grid-area: section__gallery-8;
  }

  .section__review-pages {
    display: none;
  }

  .section__review-message {
    margin-top: 20px;
  }

  .section__review-container-inner-wrapper {
    display: flex;
    flex-direction: column;
  }

  .section1__container {
    display: flex;
    flex-wrap: wrap;
  }

  .article__section {
    background-color: white;
    width: 100%;
  }

  .nav__logo img {
    width: fit-content;
  }

  .section__reviews-picture-1 {
    width: 100px;
  }

  .section__reviews-picture-1 img {
    width: 50%;
  }

  .section__reviews-container-inner-1 {
    display: flex;
  }

  .article__section {
    width: 100%;
  }

  .section__gallery-container {
    width: 100%;
  }

  textarea {
    height: 100px;
    border-radius: 10px;
  }

  .nav__button button {
    padding: 2px 5px;
  }

  body p {
    font-size: 12px;
  }

  body h2 {
    font-size: 15px;
  }

  .article__section-reviews {
    margin-bottom: 2px;
  }
}

/* 1024px */
@media (max-width: 1024px) {
  .section1__box-2 {
    margin-top: 20px;
  }
  .section1__box-1 {
    width: 300px;
    margin: auto;
  }
  .section1__button-inner button {
    padding: 2px;
  }

  .section1__logos-outer {
    width: 100px;
    margin: auto;
  }

  .main {
    margin-top: 2px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(200px, auto);
    grid-template-areas:
      "article"
      "main__aside";
  }
  .article {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(200px, auto);
    grid-template-areas:
      "article__section"
      "article__section-gallery"
      "article__section-reviews";
  }

  .article {
    grid-area: article;
  }

  .main__aside {
    grid-area: main__aside;
  }

  .article__section {
    grid-area: article__section;
  }

  .article__section-gallery {
    grid-area: article__section-gallery;
    margin-top: 2px;
  }

  .article__section-reviews {
    grid-area: article__section-reviews;
    width: 100%;
    margin-top: 2px;
  }

  .main__aside {
    height: 100%;
    margin-right: 0px;
    padding: 0px;
    margin-top: 2px;
    margin-bottom: 15px;
    padding-top: 10px;
  }

  .aside__container-inner {
    width: 200px;
    margin: auto;
  }

  .article__section-gallery img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  .section__gallery-container {
    background-color: white;
    display: grid;
    width: 90%;
    margin: auto;
    padding: 0px;
    grid-gap: 5px;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(200px, auto);
    grid-template-areas:
      "section__gallery-1 section__gallery-1 section__gallery-2 section__gallery-2"
      "section__gallery-3 section__gallery-3 section__gallery-4 section__gallery-4"
      "section__gallery-5 section__gallery-5 section__gallery-6 section__gallery-6"
      "section__gallery-7 section__gallery-7 section__gallery-8 section__gallery-8";
  }

  .section__gallery-1 {
    grid-area: section__gallery-1;
  }
  .section__gallery-2 {
    grid-area: section__gallery-2;
  }

  .section__gallery-3 {
    grid-area: section__gallery-3;
  }

  .section__gallery-4 {
    grid-area: section__gallery-4;
  }

  .section__gallery-5 {
    grid-area: section__gallery-5;
  }

  .section__gallery-6 {
    grid-area: section__gallery-6;
  }

  .section__gallery-7 {
    grid-area: section__gallery-7;
  }

  .section__gallery-8 {
    grid-area: section__gallery-8;
  }

  .section__review-pages {
    display: none;
  }

  .section__review-message {
    margin-top: 20px;
  }

  .section__review-container-inner-wrapper {
    display: flex;
    flex-direction: column;
  }

  .section1__container {
    display: flex;
    flex-wrap: wrap;
  }

  .article__section {
    background-color: white;
    width: 100%;
  }

  .nav__logo img {
    width: fit-content;
  }

  .section__reviews-picture-1 {
    width: 100px;
  }

  .section__reviews-picture-1 img {
    width: 50%;
  }

  .section__reviews-container-inner-1 {
    display: flex;
  }

  .article__section {
    width: 100%;
  }

  .section__gallery-container {
    width: 100%;
  }

  textarea {
    height: 100px;
    border-radius: 10px;
  }

  .aside__container {
    padding-left: 35%;
  }

  .article__section-reviews {
    margin-top: 2px;
    margin-bottom: 2px;
  }

  .section1__box-1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
